<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Welcome to BuddyConnect!</h3>

         
            <br> </br>
            <h4 style="font-size:15px"> Sign into your User Dashboard</h4>
           

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
            
              
            </div>


            <hr class="my-4">

            <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
