<h1>Editing User</h1>

<%= render 'form', user: @user %>

<% if current_user.studentId == @user.studentId %>
    <%= link_to 'Show', user_path(@user.studentId) %> |
<% end %>
<% if current_user.isAdmin %>
    <%= link_to 'All Users', users_path %>
<% end %>
