<h1>Editing Interest</h1>

<%= render 'form', interest: @interest %>

<%= link_to 'Show', interest_path(@interest.userId) %> 
<% if current_user.isAdmin %>
    |<%= link_to 'Back', user_path(@interest.userId) %>
<% end %>
