// Place all the styles related to the interests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
    font-family: 'Raleway-VariableFont_wght';
    src: url('/buddyconnect/app/assets/fonts/Raleway-VariableFont_wght.ttf')
 }

 h1 {
     font-family: 'Raleway-VariableFont_wght';
 }

 .invis-title {
    opacity: 0;
    font-size:0.01rem;
  }

.space {
    width: 10px;
    height: auto;
    display: inline-block;
}